flows.json
[
    {
        "id": "9b038f7edabd777e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3251e271c0279c1",
        "type": "inject",
        "z": "9b038f7edabd777e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"Texto de prueba G9\"",
        "payloadType": "str",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "aa9c669ce9a6a771"
            ]
        ]
    },
    {
        "id": "aa9c669ce9a6a771",
        "type": "ui_text",
        "z": "9b038f7edabd777e",
        "group": "529df98f660a9757",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "a30580997cd9983f",
        "type": "inject",
        "z": "9b038f7edabd777e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic1",
        "payload": "0",
        "payloadType": "num",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "ad542ed03220c842",
                "4b99daaf5e5834f1"
            ]
        ]
    },
    {
        "id": "29c0349231b40ce2",
        "type": "inject",
        "z": "9b038f7edabd777e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic2",
        "payload": "5",
        "payloadType": "num",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "ad542ed03220c842",
                "4b99daaf5e5834f1"
            ]
        ]
    },
    {
        "id": "11587cb2f9690f25",
        "type": "inject",
        "z": "9b038f7edabd777e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "ad542ed03220c842",
                "4b99daaf5e5834f1"
            ]
        ]
    },
    {
        "id": "ad542ed03220c842",
        "type": "ui_gauge",
        "z": "9b038f7edabd777e",
        "name": "",
        "group": "5a83c1d0b0792935",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b99daaf5e5834f1",
        "type": "ui_chart",
        "z": "9b038f7edabd777e",
        "name": "",
        "group": "5a83c1d0b0792935",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ea38fca1d1c7af6",
        "type": "ui_spacer",
        "z": "9b038f7edabd777e",
        "name": "spacer",
        "group": "42e98907b7c29293",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "529df98f660a9757",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "6aeee87938389a16",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a83c1d0b0792935",
        "type": "ui_group",
        "name": "Gràficos - Group 2",
        "tab": "6aeee87938389a16",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42e98907b7c29293",
        "type": "ui_group",
        "name": "Fecha actual - Grupo",
        "tab": "a607642acfc0f331",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6aeee87938389a16",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a607642acfc0f331",
        "type": "ui_tab",
        "name": "Flow2 - Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]